<!-- <section class="bg-main-light p-4 rounded-3 my-3 shadow">
    <form {formGroup}="checkout" (ngSubmit)="handleForm()">
        <div>
            <label for="details">Details</label>
            <textarea name="details" id="details" class="form-control" formControlName="details" ></textarea>
        </div>
        <div>
            <label for="phone">phone</label>
            <input type="tel" name="phone" id="phone" class="form-control" formControlName="phone" >
        </div>
        <div>
            <label for="city">city</label>
            <input type="text" name="city" id="city" class="form-control" formControlName="city" >
        </div>
        <button class="btn-main mt-3" >Chechout</button>
    </form>
</section> -->