<section class="mx-auto bg-main-light p-3 rounded-3 my-3">
    <h1>Shop Cart</h1>
    <p class="text-main ">Total Price : {{cartDetails.totalCartPrice | currency:' EGP ' }} </p>
    <div class="row border-bottom p-2" *ngFor="let item of cartDetails.products">

        <!-- img -->
        <div class="col-md-2">
            <img class="w-100" [src]="item.product.imageCover" alt="">
        </div>
        <!-- Details -->
        <div class="col-md-10">
            <div class="d-flex justify-content-between align-items-center">
                <div class="details">
                    <h3 class="h5">{{item.product.title}} </h3>
                    <p class="text-main py-2 m-0">Price : {{item.price | currency:' EGP '}} </p>
                    <button class="btn m-0 p-0 " (click)="removeCartItem(item.product._id)">
                        <i class="fa-regular fa-trash-can text-main"></i>
                        Remove
                    </button>
                </div>
                <div class="btns">
                    <button class="btn border border-success "
                        (click)="changeCount(item.product._id , item.count + 1)">+</button>
                    <span class="mx-1"> {{item.count}} </span>
                    <button class="btn border border-success"
                        (click)="changeCount(item.product._id , item.count - 1)">-</button>
                </div>
            </div>
        </div>
    </div>
    <button [routerLink]="['/checkout' , cartDetails._id]" class="btn-main mt-2">Online Payment <img src="./assets/images/visa-1.svg"
            alt="">
    </button>
</section>